$baseFontPx = 16px

/* Color variables */
$PrimaryColor =#409EFF
$SecondaryColor = #4c5559
//$ThirdColor = #497C8C
$BackgroundPrincipal = #d3d3d3
$BlackColor = #000000
$greyPrincipal = #939393

EncodeSans(w)
	font-family 'Encode Sans', sans-serif
	font-weight w
EcondeSansEx(w)
	font-family 'Encode Sans Expanded', sans-serif
	font-weight w

backgroundRGBAPrimary(n)
	background-color rgba(64, 158, 255 , n)

backgroundRGBASecondary(n)
	background-color rgba(9, 41, 53 , n)

backgroundRBAGreyPrimary(n)
	background-color rgba(147,147,147,n)

backgroundOpacity(clr, o)
	background-color rgba(clr, o)

$windowMinWidth = 1200px
$wrapperMaxWidth = 1250px
$wrapperWidth = 1250px
